<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title> Blynk Management Device Seri Number</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/process.js"></script>
</head>
<body>
    <div class="center">
        <p>Management Devices through Serial Number</p>
    </div>
    <div class="tool_select">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#add_new" onclick = "onGetdata()">New Device</button>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#update" onclick = "onGetdata()">Update Infor Device</button>
    </div>
    <div class="center">
    </div>
    <div id="add_new" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    Name Product:<br>
                    <select id="new_name_product">
                            <option value="SIM-Board A86">SIM-Board A86</option>
                            <option value="SIM-Board A87">SIM-Board A87</option>
                            <option value="ESP-RGB">ESP-RGB</option>
                            <option value="ESP-Relay">ESP-Relay</option>
                            <option value="ESP-Arduino">ESP-Arduino</option>
                        </select>
                </div>
                <div class="col-sm-3">
                    Email user: <br>
                    <input type="email" name="new_email">
                </div>
                <div class="col-sm-3">
                    Token: <br>
                    <input type="text" name="new_token">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Seri Number: <br>
                    <input type="text" name="new_seri_number">
                </div>
                <div class="col-sm-3">
                    Date: <br>
                    <input type="date" data-date-format="DD MMMM YYYY" name="new_date">
                </div>
                <div class="col-sm-3">
                    Admin: <br>
                    <select id="new_admin">
                        <option value="Xung">Xung</option>
                    </select>
                </div>
                <div class="center">
                        <button type="button" class="btn btn-info" onclick = "onSubmitNewdata()">Submit</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="center">
        </div>
    <div id = "update" class="collapse">
        <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        Name Product:<br>
                        <select id="update_name_product">
                            <option value="SIM-Board A86">SIM-Board A86</option>
                            <option value="SIM-Board A87">SIM-Board A87</option>
                            <option value="ESP-RGB">ESP-RGB</option>
                            <option value="ESP-Relay">ESP-Relay</option>
                            <option value="ESP-Arduino">ESP-Arduino</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        Email user: <br>
                        <select id="update_email"></select>
                    </div>
                    <div class="col-sm-3">
                        Last Token: <br>
                        <select id="update_last"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Seri Number: <br>
                        <select id="update_seri"></select>
                    </div>
                    <div class="col-sm-3">
                        New Token: <br>
                        <input type="text" name="update_new_token">
                    </div>
                    <div class="col-sm-3">
                        Admin: <br>
                        <select id="update_admin">
                            <option value="Xung">Xung</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        Status: <br>
                        <input name="statusDevice" type="radio" value="OF"> OFF <br>
                        <input name="statusDevice" type="radio" value="ON"> ON <br>
                    </div>
                    <div class="center">
                            <button type="button" class="btn btn-info" onclick = "onSubmitUpdatedata()">Submit</button>
                        </div>
                </div>
            </div>
    </div>
    <div class="center">
        Information Data Devices And Users
    </div>
    <div>
        <div class="data">
                <table id = "log_data">
                        <tr >
                        <td>STT</td>
                        <td>Token</td>
                        <td>Host</td>
                        <td>Email</td>
                        <td>Project_id</td>
                        <td>Device_id</td>
                        <td>Time</td>
                        </tr>
                        <% list.rows.forEach(function(number,index,d) { %>
                          <tr>
                        <td><%= number %></td>
                        <td><%= d.token %></td>
                        <td><%= d.host %></td>
                        <td><%= d.email %></td>
                        <td><%= d.project_id %></td>
                        <td><%= d.device_id %></td>
                        <td><%= d.ts %></td>
                        </tr>
                      <% }); %>
                 </table>
            </div>
    </div>
    <div class="tool_select"></div>
    <div class="center">Using Free of The Account</div>
    <div class="data">
        <p id ="free_data"></p>
    </div>
    <div class="tool_select"></div>
    <div class="center">Database</div>
    <div class="data">
        <p id ="print_data"></p>
    </div>
</body>
</html>