<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title> Blynk Management Device Seri Number</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css.map">
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>   
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/process.js"></script>
</head>
<body>
    <div class="center">
        <p>Management Devices through Serial Number</p>
    </div>
    <div class="tool_select">
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#add_new">New Device</button>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#update">Update Infor Device</button>
    </div>
    <div class="center">
    </div>
    <div id="add_new" class="collapse">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    Name Product:<br>
                    <select id="new_name_product">
                            <option value="Thiet bi A">Thiet bi A</option>
                            <option value="Thiet bi B">Thiet bi B</option>
                            <option value="THiet bi C">Thiet bi C</option>
                            <option value="Thiet bi D">Thiet bi D</option>
                        </select>
                </div>
                <div class="col-sm-3">
                    Email user: <br>
                    <input type="email" name="new_email">
                </div>
                <div class="col-sm-3">
                    Token: <br>
                    <input type="text" name="new_token">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    Seri Number: <br>
                    <input type="text" name="new_seri_number">
                </div>
                <div class="col-sm-3">
                    Date: <br>
                    <input type="date" data-date-format="DD MMMM YYYY" name="new_date">
                </div>
                <div class="col-sm-3">
                    Admin: <br>
                    <select id="new_admin">
                        <option value="Xung">Xung</option>
                        <option value="Admin A">Admin A</option>
                        <option value="Admin B">Admin B</option>
                        <option value="Admin C">Admin C</option>
                    </select>
                </div>
                <div class="center">
                        <button type="button" class="btn btn-info" onclick = "onSubmitNewdata()">Submit</button>
                    </div>
            </div>
        </div>
    </div>
    <div class="center">
        </div>
    <div id = "update" class="collapse">
        <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        Name Product:<br>
                        <select id="update_name_product">
                            <option value="Thiet bi A">Thiet bi A</option>
                            <option value="Thiet bi B">Thiet bi B</option>
                            <option value="THiet bi C">Thiet bi C</option>
                            <option value="Thiet bi D">Thiet bi D</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        Email user: <br>
                        <select name="cars">
                                <option value="volvo">Volvo XC90</option>
                                <option value="saab">Saab 95</option>
                                <option value="mercedes">Mercedes SLK</option>
                                <option value="audi">Audi TT</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        Last Token: <br>
                        <select name="cars">
                                <option value="volvo">Volvo XC90</option>
                                <option value="saab">Saab 95</option>
                                <option value="mercedes">Mercedes SLK</option>
                                <option value="audi">Audi TT</option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        Seri Number: <br>
                        <select name="cars">
                                <option value="volvo">Volvo XC90</option>
                                <option value="saab">Saab 95</option>
                                <option value="mercedes">Mercedes SLK</option>
                                <option value="audi">Audi TT</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        New Token: <br>
                        <select name="cars">
                                <option value="volvo">Volvo XC90</option>
                                <option value="saab">Saab 95</option>
                                <option value="mercedes">Mercedes SLK</option>
                                <option value="audi">Audi TT</option>
                            </select>
                    </div>
                    <div class="col-sm-3">
                        Admin: <br>
                        <select name="cars">
                            <option value="volvo">Volvo XC90</option>
                            <option value="saab">Saab 95</option>
                            <option value="mercedes">Mercedes SLK</option>
                            <option value="audi">Audi TT</option>
                        </select>
                    </div>
                    <div class="center">
                            <button type="button" class="btn btn-info">Submit</button>
                        </div>
                </div>
            </div>
    </div>
    <div class="center">
        Information Data Devices And Users
    </div>
    <div>
        <div class="data">
                <table id = "log_data">
                        <tr >
                        <td>Token</td>
                        <td>Host</td>
                        <td>Email</td>
                        <td>Project_id</td>
                        <td>Device_id</td>
                        <td>Time</td>
                        </tr>
                        <% list.rows.forEach(function(d) { %>
                          <tr>
                        <td><%= d.token %></td>
                        <td><%= d.host %></td>
                        <td><%= d.email %></td>
                        <td><%= d.project_id %></td>
                        <td><%= d.device_id %></td>
                        <td><%= d.ts %></td>
                        </tr>
                      <% }); %>
                 </table>
            </div>
    </div>
    <div class="tool_select"></div>
    <div class="center">Database</div>
    <div class="data">
        <p id ="print_data"></p>
    </div>
</body>
</html>